{{ define "main" }}
  {{ if eq .Params.type "landing" }}
    {{ partial "landing-sections.html" . }}
  {{ else }}
    {{ partial "blocks/hero.html" (dict "Page" . "Block" (dict "content" (dict "title" .Title "text" .Description))) }}
    <section class="content-band">
      <div class="wrap">
        {{ if eq .Section "publications" }}
          <div class="citation-list">
            {{ range .Pages.ByDate.Reverse }}{{ partial "cards/publication.html" . }}{{ end }}
          </div>
        {{ else if eq .Section "authors" }}
          <div class="people-grid">
            {{ range sort (where (where site.Pages "Section" "authors") "Params.role" "!=" nil) "Params.last_name" }}
              {{ partial "cards/author.html" . }}
            {{ end }}
          </div>
        {{ else }}
          <div class="card-grid">
            {{ range .Pages.ByDate.Reverse }}{{ partial "cards/content.html" . }}{{ end }}
          </div>
        {{ end }}
      </div>
    </section>
  {{ end }}
{{ end }}
